{% extends "partials/base.html" %}
{% block title %}Explore{% endblock title %}

{% block content %}

<h1 class="text-center">{{ products_count }} Available Products</h1>
<br><br>

<div class="div">
    <a class="btn btn-primary" href="{% url 'products:new' %}">Add Product</a>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 d-flex" style="justify-content: space-evenly">
    {% for product in products %}
    <div class="col">
        <div class="card shadow-sm d-flex text-center" style="width: 18rem">

            <div class="card-body">
                <div class="card-img">
                    <img src="{{ product.image.url }}" alt="" style="width: 235px;">
                </div>
                <br>
                <p class="card-text">{{ product.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'products:detail' product.id %}" class="btn btn-sm btn-outline-secondary">view</a>
                        <a href="#" class="btn btn-sm btn-outline-secondary">Edit</a>
                    </div>
                    <small class="text-body-secondary">{{ product.created_by }}.</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}